@page "/"

<PageTitle>RikuYamaguchi || Home</PageTitle>

<h1 id="SawarabiMincho">世の中を今より便利に</h1>
<p id="SawarabiMincho">Make the world more convenient than it is now.</p>
<div id="geo-globe">
    <canvas id="canvas"></canvas>
</div>

<script suppress-error="BL9992" src="js/indexgrop.js"></script>