@page "/"

<PageTitle>RikuYamaguchi || Home</PageTitle>

<div id="particles-js"></div>
<div id="wrapper">
    <h1 id="SawarabiMincho">
        昨日より1mmでも前へ。
    </h1>
    <p id="SawarabiMincho">
        Commit and push every day.
    </p>
    <div id="geo-globe">
        <canvas id="canvas"></canvas>
    </div>
</div>

<script suppress-error="BL9992" src="js/indexgrop.js"></script>
<script suppress-error="BL9992" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script suppress-error="BL9992" src="js/indexbackground.js"></script>